# requirements.txt
streamlit
pandas
pandasai
openai
numpy
plotly
pyyaml
langchain_google_genai
google-generativeai
python-dotenv
xlrd
openpyxl
streamlit-webrtc
SpeechRecognition
pydub==0.25.1
streamlit_mic_recorder
seaborn
matplotlib
Flask
werkzeug
requests
opencv-python-headless
av
google-cloud-speech
sounddevice
soundfile
whisper
tiktoken
langchain
meta_ai_api
pyodbc
mysql-connector-python
pydantic
pymssql
huggingface_hub
