streamlit
pandas
pandasai
openai
numpy
plotly
pyYAML
langchain_google_genai
google-generativeai
python-dotenv
xlrd
openpyxl
python-dotenv
streamlit-webrtc
SpeechRecognition
pydub==0.25.1
streamlit-webrtc
streamlit_mic_recorder 
