streamlit
pandas
pandasai
openai
numpy
plotly
pyYAML
langchain_google_genai
google-generativeai
python-dotenv
xlrd
openpyxl
python-dotenv
streamlit-webrtc
SpeechRecognition
pydub==0.25.1
streamlit_mic_recorder
google-generativeai
seaborn
pyyaml
matplotlib
Flask
werkzeug
requests
opencv-python-headless
av
streamlit-webrtc
streamlit_mic_recorder 
google-cloud-speech
speechrecognition
sounddevice
soundfile
whisper
pyaudio
PortAudio
